# LISTS

In [2]:
cheese = ['Cheddar', 'Stilton', 'Cornish Yarg']

In [3]:
print(cheese[1])

Stilton

In [6]:
cheese[-1] = 'Red Laicester'

In [7]:
print(cheese)

['Cheddar', 'Stilton', 'Red Laicester']

## Multi-dimensional lists are just lists containing others

In [11]:
cheese_2 = ['Cheddar', 'Stilton', ['Camembert', 'Brie'], 'Cornish Yarg']

In [14]:
print(cheese_2[2][0])

Camembert

# TUPLES

In [17]:
mytuple = 'eggs', 'bacon', 'spam', 'tea'

In [18]:
print(mytuple)

('eggs', 'bacon', 'spam', 'tea')

In [19]:
print(mytuple[1])

bacon

In [20]:
print(mytuple[-1])

tea

In [23]:
mytuple[2] = 'John'

TypeError: 'tuple' object does not support item assignment

# DICTIONARIES  mydict = {'key1':'object1', 'key2':'object2'}

In [25]:
mydict = {'Australia':'Sydney', 'Francia':'Paris'}

In [26]:
print(mydict)

{'Australia': 'Sydney', 'Francia': 'Paris'}

In [28]:
print(mydict['Francia'])

Paris

In [29]:
country = 'Iceland'

In [30]:
mydict[country] = 'Reykjavik'

In [31]:
print(mydict)

{'Australia': 'Sydney', 'Francia': 'Paris', 'Iceland': 'Reykjavik'}

# Python Operators

## Difference between / and //:

In [36]:
x = 2

In [37]:
print(x)

2

In [38]:
x = x/3

In [39]:
print(x)

0.6666666666666666

In [40]:
x = x//3

In [41]:
print(x)

0.0

# CONDITIONALS:

In [ ]:
if condition:
    statements
elif condition:
    statements
else:
    statements

# BOOLEAN & LOGICAL OPERATORS

In [ ]:
if 0 < number < 42 < distance:
    print("number and distance are within range")
else:
    print("number and distance are out of range")

In [ ]:
# same as:
if 0 < number and number < 42 and 42 < distance:
    print("number and distance are within range")
else:
    print("number and distance are out of range")

In [ ]:
# can be combined:
if 0 < number < 42 and distance !=20:
    print("number and distance are within range")
else:
    print("number and distance are out of range")

# SEQUENCE AND COLLECTION TESTS:

In [45]:
my_list = [0, 1, 2, 3, 4, 5]

In [46]:
if my_list:
    print("my_list is TRUE")

my_list is TRUE

In [48]:
# built-in 'all' and 'any'
my_list = [0, 1, 2, 3, 4, 5]
if not all(my_list):
    # 0-Zero in my_list is not true
    print("my_list: not all are True")
    
if any(my_list):
    print("my_list: at least one of item is True")

my_list: not all are True
my_list: at least one of item is True

# OBJECT TYPES:

In [49]:
# Type error: unorderable
num = 42
txt = '3'

if txt < num:
    print('Wow!')
else:
    print('Doh!')

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
# fixed: converted
num = 42
txt = '3'

if int(txt) < num:
    print('Wow!')
else:
    print('Doh!')

Wow!

# EXCEPTION HANDLING:

In [58]:
import sys

num = 42
txt = '3'

try:
    if txt < num:
        print('Wow!')
    else:
        print('Doh!')
except TypeError:
    print("Invalid types compared", file=sys.stderr)

Invalid types compared

# WHILE LOOPS

In [ ]:
while condition:
    loop body

In [60]:
line = None

while line != 'done':
    line = input('Type "done" to complete: ')

Type "done" to complete: done

In [61]:
# pop() on a list removes and returns the last item
myl = [23, 67, 32, 9, 77]

while myl:
    print(myl.pop() * 2)

154
18
64
134
46

In [62]:
print(myl)

[]

## Loop Control Staements:
- continue    perform next iteration
- break       exit the loop at once
- pass        Empty placeholder (do nothing)

In [63]:
i = 1
j = 100

while i < 42:
    i = i * 2
    if i > j: break
else:
    print("Loop expired: ", i)
print("Final value: ", i)

Loop expired:  64
Final value:  64

# FOR LOOPS

## for target in object:
    indented statements

In [65]:
import sys

for arg in sys.argv:
    print("Cmd line argument:", arg)

Cmd line argument: /home/m0rph3us/.local/lib/python3.7/site-packages/ipykernel_launcher.py
Cmd line argument: -f
Cmd line argument: /home/m0rph3us/.local/share/jupyter/runtime/kernel-af2dfdb1-2be5-4a57-a0b8-ee7c0b72aca6.json

# ENUMERATE

In [66]:
import sys

for idx, arg in enumerate(sys.argv):
    print("index:", idx, "argument:", arg)

index: 0 argument: /home/m0rph3us/.local/lib/python3.7/site-packages/ipykernel_launcher.py
index: 1 argument: -f
index: 2 argument: /home/m0rph3us/.local/share/jupyter/runtime/kernel-af2dfdb1-2be5-4a57-a0b8-ee7c0b72aca6.json

In [67]:
for nm, line in enumerate(open('names.txt'), start=1):
    print(nm, line, end="")

1 Pedro
2 Carolina
3 Albert
4 Monica

# COUNTING "FOR" LOOPS

In [70]:
i = 0
for i in range(1, 11):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [93]:
mylist = [1, 3, 6, 32, 12, 45, 56]
for i in range(0, len(mylist)):
    if mylist[i] > 42: mylist[i] += 1
    print(mylist[i])

1
3
6
32
12
46
57

In [98]:
mylist = [1, 3, 6, 32, 12, 45, 56]
for num in mylist:
    print(num)

1
3
6
32
12
45
56

In [105]:
mylist = [1, 3, 6, 32, 12, 45, 56]
for idx, num in enumerate(mylist, start=1):
    if num > 60: mylist[idx] += 1
    print(idx, num)

1 1
2 3
3 6
4 32
5 12
6 45
7 56

In [88]:
mylist2 = ['luna', 'hello', 'beautiful']
for i in range(0, len(mylist)):
    print(mylist[i])

luna
hello
beautiful

In [89]:
for num in mylist2:
    print(num)

luna
hello
beautiful

In [90]:
for idx, num in enumerate(mylist2, start=1):
    print(idx, num)

1 luna
2 hello
3 beautiful

# ZIPPING THROUGH MULTIPLE LISTS
## ZIP used to return a list of tuples

In [107]:
farms = ['Home Farm', 'Macktony', 'Big Farm', 'Brown Rig']
squirls = [42, 12, 2, 0]
rabbits = [395, 68, 57, 32]
moles = [12, 8, 0, 29]

for f, s, r, m in zip(farms, squirls, rabbits, moles):
    print('Total for', f, ':', + s + r + m)

Total for Home Farm : 449
Total for Macktony : 88
Total for Big Farm : 59
Total for Brown Rig : 61

# CONDITIONAL EXPRESSIONS

In [2]:
i = 42
j = 3

if i > j:
    print("i gt j")
else:
    print("i lt j")

print("i gt j") if i > j else print("i lt j")
print("i gt j" if i > j else "i tl j")

i gt j
i gt j
i gt j

In [4]:
# No ':' and 'elif' not allowed
-1 if i < j else (+1 if i > j else 0)

1

In [7]:
# Beware of PRECEDENCE:
a = 54
answer = a + 5 if a < 42 else 0
answer2 = a + (5 if a < 42 else 0)
print(answer)
print(answer2)

0
54

# UNCONDITIONAL CLOSEDOWN

In [10]:
import os
os._exit(integer_expression)

NameError: name 'integer_expression' is not defined

In [ ]:
os.abort()

In [9]:
import sys
# sys.exit(expression)  Terminate a process using
sys.exit("Goodbye")

SystemExit: Goodbye

/home/m0rph3us/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)